<div *ngIf="!selectedClassification">
    Loading...
</div>

<div *ngIf="selectedClassification">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Classification</mat-label>
            <mat-select [value]="selectedClassification.id">
                <mat-option *ngFor="let c of classifications" [value]="c.id">
                    {{c.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        {{selectedClassification.description}}
    </div>

    <mat-tab-group>
        <mat-tab label="Map">
            <map [mountains]="selectedClassification.mountains"></map>
        </mat-tab>
        <mat-tab label="List">
            <classification-table [mountains]="selectedClassification.mountains"></classification-table>
        </mat-tab>
    </mat-tab-group>
</div>