<div>
    <mat-form-field appearance="fill">
        <mat-label>Classification</mat-label>
        <mat-select [value]="selectedClassification.id">
            <mat-option *ngFor="let c of classifications" [value]="c.id">
                {{c.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    {{selectedClassification.description}}
</div>

<div>
    <table *ngIf="selectedClassification">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of selectedClassification.mountains">
                <td>{{m.name}}</td>
            </tr>
        </tbody>
    </table>
</div>